<div class="container">
  <div class="row">
      <div class="col-6">
          <h2>Roundas: {{round}} of 5</h2>
          <form>
          <div class="form-group">
              <label for="pratimoLaikas">Pratimo laikas</label>
              <input type="number" class="form-control" id="pratimoLaikas" aria-describedby="emailHelp" placeholder="Pratimo laikas" #trukme (keyup)='setTime(trukme.value,0)' (input)='setTime(trukme.value,0)' [(value)]='pratimo_laikas' min="1">
          </div>
          <div class="form-group">
              <label for="pertaukosLaikas">Pertraukos laikas</label>
              <input type="number" class="form-control" id="pertaukosLaikas" placeholder="Pertraukos laikas" #trumpaPertrauka (input)='setTime(trumpaPertrauka.value,1)' (keyup)='setTime(trumpaPertrauka.value,1)' [(value)]='paprasta_pertrauka' min="1" ><br>
          </div>
          <div class="form-group">
              <label for="ilgojiPertrauka">Ilgoji pertrauka</label>
              <input type="number" class="form-control" id="ilgojiPertrauka" placeholder="Ilgoji pertrauka" #ilgojiPertrauka (input)='setTime(ilgojiPertrauka.value,2)' (keyup)='setTime(ilgojiPertrauka.value,2)' [(value)]='ilgoji_pertrauka' min="1" ><br>
          </div>
        </form>
        <button class="btn btn-primary" (click)='start_stop()'>{{startButton}}</button>
        <button class="btn btn-danger" (click)='reset()'>reset</button><br>
      </div>
      <div class="col-6">
          <ul class="list-group">
              <li *ngFor="let pratimas of pratimai; let i = index" 
                   class="list-group-item d-flex justify-content-between align-items-center" [class.active]="i == pratimo_nr">
                  <div [ngSwitch]="pertrauka && i == pratimo_nr">
                      <div *ngSwitchCase="true">Pertrauka</div>
                      <div *ngSwitchDefault>{{pratimas.description}}</div>
                  </div>
                  <span class="badge badge-danger badge-pill" 
                        *ngIf="i==pratimo_nr">{{seconds}}</span>
              </li>
          </ul>
      </div>
      <!-- <div class="col-4">
          <video #videoTag width="400"  loop muted>
              <source #videoSrc src="" type="video/mp4">
              Your browser does not support HTML5 video.
          </video>
      </div> -->
  </div>
</div>

<!--audio for training/timeout ending -->
<audio #timeUpSignal loop >
<source src="assets/audio/beep-09.mp3" type="audio/mpeg">
Your browser does not support the audio tag.
</audio> 

<!-- <audio #fontMusic >
<source #musicSrc src="assets/audio/chili.mp3" type="audio/mpeg">
Your browser does not support the audio tag.
</audio>  -->
<div>update</div>